<p id="notice"><%= notice %></p>

<h1>Contactos</h1>

<table class="table table-bordered">
  <thead>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Email</th>
    <th>Tipo</th>
    <th>Acciones</th>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.surname %></td>
        <td><%= contact.email %></td>
        <td><%= contact.contact_type %></td>
        <td><%= link_to 'Ver', contact %> | <%= link_to 'Editar', edit_contact_path(contact) %> | <%= link_to 'Eliminar', contact, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Crear contacto', new_contact_path %>
